
/* This is a single-line comment */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');


html {

}
body {
  background: url("images/grey_background.jpeg")
}

center {
    display: block;
    text-align: -webkit-center;
}

div {
    display: block;
}

.my_name {
  color:white;
  text-align: center;
  font-size: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

.icons {

}

.left, .right, .mid {
    background-color: rgba(214, 217, 219, 0.9);
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    display: inline-block;
    color: #20698c;
}

.left:hover ,.right:hover, .mid:hover{
  background-color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

.left img {
    display: block;
    margin: auto;
    padding: 10px;
    width: 150px;
    height: 150px;
}

.mid img {
    display: block;
    margin: auto;
    padding: 10px;
    width: 150px;
    height: 150px;
}
